html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: rebeccapurple;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style: none;
}

h1, h1 a {
    color: white;
    font-size: 3rem;
}

p, a {
    color: white;
    font-size: 2rem;
}
