html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: rebeccapurple;
}

ul {
    list-style: none;
}

a {
    color: white;
    font-size: 2rem;
}